
.containerGlobalCardFeed{
  background: #202024;

  width: 54rem;
  margin: 4rem;

  border-radius: 8px;

  padding: 1.5rem 2rem;
  
}

.containerTextFeed {
  display: flex;
  align-items: center;

}

.textFeed {
  padding: 0px 0px 0px 16px;
}

.containerHearderTextFeed{
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.containerTextBodyFeed {
  padding: 2rem 0rem;
  border-bottom: 1px solid #323238;
}


.containerFeedback{
    margin: 1rem 0rem;
}

.containerFeedback p{
  margin-bottom: 1rem;
}

.containerFeedback textarea{
  width: 100%;

  background-color: #121214;
  border-color: #00B37E;
  border-radius: 8px;

  color: aliceblue;

  height: 100px;
}

.buttonFeed button{
  color: #fff;
  background-color: #00B37E;
  border-radius: 8px;

  padding: 8px;
  gap: 4px;
  
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0px 0px 1.2rem 0px;
  font-size: 1rem;
  font-weight: 600;
}

.buttonFeed button:hover{
  background-color: transparent;
  border-color: #00B37E;
  color: #00B37E;
  cursor: pointer;
}